* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: block;
}

.menu {
  background: orange;
  padding: 5px 15px;
  text-align: center;
}
.menu li {
  list-style: none;
  padding: 5px;
  font: bold 14px verdana;
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 0px 22px;
}
.menu li a:hover {
  color: whitesmoke;
}

section {
  display: block;
}

footer {
  display: block;
}

aside {
  display: block;
}

nav {
  display: block;
}

article {
  display: block;
}

hgroup {
  display: block;
}

body {
  text-align: center;
}

.cabecera {
  background: orange;
  border: 1px solid #999999;
  padding: 20px;
}

.navbar {
  padding: 0;
}

.body-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: purple;
}

.cartas {
  width: 350px;
}

.home-banner-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-banner-buttons button:active {
  background-color: gray;
}

.join-us-today {
  border-radius: 15px;
  background-color: orange;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.start {
  border-radius: 50%;
  background-color: #9ac5f4;
  padding: 22px;
  margin-top: 80px;
  display: flex;
  border: none;
  color: white;
  font-weight: bold;
  align-items: center;
}

.safe-support {
  position: absolute;
  top: 0;
  right: 5%;
  margin: 1% 15%;
}
.safe-support button {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.safe-support button:active {
  background-color: gray;
}

.steps-section {
  background-color: #04113f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px 15px 36px;
  gap: 50px;
}

.steps-container {
  background-color: yellow;
  width: 50%;
  border-radius: 15px;
  padding: 22px;
  font-size: 18px;
}

.steps-actions-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.depcash {
  border-right: 1px solid black;
  padding-right: 22px;
  border-left: 1px solid black;
  padding-left: 22px;
  font: bolder;
}

.image-containers {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.image-containers div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-home {
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
.section-home h2 {
  color: white;
  padding-bottom: 22px;
  font-size: 30px;
}

.bg-spins {
  background-color: blue;
}

.spins-container {
  display: flex;
  color: white;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
  justify-content: center;
}
.spins-container div {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.spins-container div img {
  padding: 1%;
}
.spins-container .join-us-today {
  margin: 20px auto;
}

.bg-questions {
  background-color: #04113f;
}

.questions {
  background-color: #04113f;
  color: white;
  padding: 22px;
  display: flex;
}

.question-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 22px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 10px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  background-color: rgb(18, 18, 207);
}
.grid-item h2 {
  color: yellow;
  padding: 10px;
}
.grid-item p {
  color: white;
}
.grid-item img {
  max-width: 100%;
  height: auto;
}

.blackcards {
  width: 100%;
  height: 550px;
}

.container-main, .bg-main {
  background: #2980b9;
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
}

.sct-rg {
  padding: 5%;
}
.sct-rg h1 {
  padding-bottom: 30px;
}
.sct-rg h2 {
  padding-bottom: 30px;
}

.dealcards {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.sct-about {
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
.sct-about h1 {
  padding-bottom: 30px;
}
.sct-about h2 {
  padding-bottom: 30px;
}

.background-contact {
  background: #2980b9;
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
}

.bg-contact {
  padding: 5%;
}
.bg-contact div h2 {
  padding-bottom: 30px;
}

.bg-viewed {
  padding: 3%;
}

.container-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-btn button {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.container-btn button:active {
  background-color: aqua;
}

.background-games {
  background: #2980b9;
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
}

.sct-games {
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
.sct-games h2 {
  padding-bottom: 30px;
}

.footer {
  background-color: black;
}

.btn-container {
  width: 100%;
  margin: 0 auto;
}

.btn-download {
  border-radius: 15px;
  background-color: #9ac5f4;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 15px;
  font: bolder;
}
.btn-download:active {
  background-color: whitesmoke;
}

.background-section-games {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
.background-section-games div h2 {
  padding-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }
  .start {
    justify-content: center;
  }
  .cartas {
    width: 100%;
  }
  .home-banner-buttons {
    flex-direction: column;
    align-items: center;
  }
  .home-banner-buttons button {
    margin: 10px 0;
  }
  .safe-support {
    position: relative;
    margin: 10px;
  }
  .safe-support button {
    padding: 8px;
  }
  .steps-actions-container {
    flex-direction: column;
    gap: 40px;
  }
  .depcash {
    border: none;
    padding: 0;
    margin-bottom: 40px;
    font: bolder;
  }
  .image-containers {
    flex-direction: column;
    gap: 20px;
  }
  .image-containers div {
    margin-bottom: 30px;
  }
  .bg-spins {
    padding: 30px 15px;
  }
  .spins-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .dices {
    width: 80%;
    max-width: 200px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  .join-us-today {
    font-size: 18px;
    padding: 15px 30px;
  }
  .bg-questions {
    padding: 30px 15px;
  }
  .questions {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .question-title {
    font-size: 20px;
  }
  .paragraph {
    font-size: 16px;
  }
  .diamond-cards {
    width: 80%;
    max-width: 200px;
  }
  .section-home {
    padding: 5%;
  }
  .section-home h2 {
    font-size: 24px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .background-section-games {
    flex-direction: column;
  }
  .background-section-games div {
    width: 100%;
    margin-bottom: 20px;
  }
  .background-section-games div h2 {
    text-align: center;
  }
  .background-section-games div p {
    text-align: center;
  }
  .black-card {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .container-btn {
    flex-direction: column;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-container .cartas {
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .body-container .home-banner-buttons {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .body-container .home-banner-buttons .join-us-today {
    width: 100%;
  }
  .body-container .home-banner-buttons .start {
    width: 100%;
    align-items: center;
  }
  .body-container .monedas {
    width: 80%;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .body-container .safe-support {
    flex-direction: column;
  }
  .body-container .safe-support button {
    width: 100%;
    margin-bottom: 10px;
  }
  .depcash {
    font: bolder;
  }
}
@media (max-width: 1024px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
  }
  .navbar-collapse {
    width: 100%;
    margin-top: 20px;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav li {
    margin-bottom: 10px;
  }
  .body-container {
    flex-direction: column;
    align-items: center;
  }
  .cartas {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .home-banner-buttons {
    flex-direction: row;
    margin-top: 20px;
  }
  .home-banner-buttons button {
    margin: 10px;
  }
  .monedas {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .safe-support {
    position: static;
  }
  .safe-support button {
    margin: 5px;
  }
  .steps-container {
    width: 80%;
  }
  .steps-container h1 {
    font-size: 30px;
  }
  .steps-actions-container h2 {
    font-size: 30px;
  }
  .questions {
    flex-direction: column;
  }
  .black-card {
    width: 100%;
  }
  .casino {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .grid-item {
    text-align: center;
  }
  .grid-item img.maquina-slot {
    max-width: 100%;
    height: auto;
  }
  .steps-actions-container {
    flex-direction: column;
    align-items: center;
  }
  .steps-actions-container .depcash {
    border-right: none;
    padding-right: 0;
    border-left: none;
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .black-card {
    width: 100%;
  }
  .menu li a {
    font-size: 17px;
  }
  .logo {
    width: 150px;
  }
  .safe-support {
    display: none;
  }
  .steps-actions-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .steps-actions-container .depcash {
    border-right: none;
    padding-right: 0;
    border-left: none;
    padding-left: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
