$color_1: white;
$color_2: black;
$color_3: yellow;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: white;
$background-color_2: #999999;
$background-color_3: grey;
$background-color_4: black;
$background-color_5: #04113f;
$background-color_6: blue;
$background-color_7: purple;
$background-color_8: orange;
$background-color_9: violet;
$background-color_10: transparent;
$background-color_11: yellow;
$background-color_12: #f2f2f2;
$background-color_13: rgb(18, 18, 207);
$background-color_14: #9ac5f4;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
header {
	display: block;
}
section {
	display: block;
}
footer {
	display: block;
}
aside {
	display: block;
}
nav {
	display: block;
}
article {
	display: block;
}
hgroup {
	display: block;
}
body {
	text-align: center;
}
.header-menu {
	width: 100%;
	border: none;
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bg-main{
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dealcards {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.background-container {
	background-color: $background-color_1;
}
.background-contact {
	background-color: $background-color_1;
}
.background-games {
	background-color: $background-color_2;
}
.bg-contact {
	background-color: $background-color_3;
	padding: 5%;
	div {
		h2 {
			padding-bottom: 30px;
		}
	}
}
.bg-viewed {
	padding: 3%;
	h2{
		padding: 20px;
	}
}
.background-section-games {
	background-color: $background-color_4;
	color: $color_1;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	div {
		h2 {
			padding-bottom: 30px;
		}
	}
}
.cabecera {
	background: orange;
	border: 1px solid #999999;
	padding: 20px;
	h1 {
		text-align: left;
	}
}
.menu {
	background: orange;
	padding: 5px 15px;
	text-align: center;
	li {
		list-style: none;
		padding: 5px;
		font: bold 14px verdana;
		display: inline-block;
		a {
			text-decoration: none;
			font-size: 20px;
			color: $color_2;
			margin: 0px 22px;
			&:hover{
				color: whitesmoke;
			}
		}
	}
}
.section-home {
	padding-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	h1 {
		color: $color_1;
		padding-bottom: 22px;
		font-size: 30px;
	}
}
.bg-questions {
	background-color: $background-color_5;
}
.bg-spins {
	background-color: $background-color_6;
}
.cartas {
	width: 350px;
}
.body-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	background-color: $background-color_7;
}
.home-banner-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	button{
		&:active{
			background-color: gray;
		}
	}
}
.join-us-today {
	border-radius: 15px;
	background-color: $background-color_8;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	border: none;
	color: $color_1;
	font-weight: bold;
	cursor: pointer;
}
.start {
	border-radius: 50%;
	background-color: $background-color_9;
	padding: 22px;
	margin-top: 80px;
	display: flex;
	border: none;
	color: $color_1;
	font-weight: bold;
	align-items: center;
}
.safe-support {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1% 15%;
	button {
		background-color: $background-color_10;
		border: 1px solid black;
		padding: 10px;
		color: $color_1;
		font-weight: bold;
		&:active{
			background-color: gray;
		}
	}
}
.steps-section {
	background-color: $background-color_5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 19px 15px 36px;
	gap: 50px;
}
.steps-container {
	background-color: $background-color_11;
	width: 50%;
	border-radius: 15px;
	padding: 22px;
	font-size: 18px;
}
.steps-actions-container {
	display: flex;
	justify-content: center;
	gap: 100px;
}
.image-containers {
	display: flex;
	flex-direction: row;
	gap: 20px;
	div {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}
.depcash {
	border-right: 1px solid black;
	padding-right: 22px;
	border-left: 1px solid black;
	padding-left: 22px;
}
.spins-container {
	display: flex;
	color: $color_1;
	max-width: 1200px;
	gap: 40px;
	margin: 0 auto;
	justify-content: center;
	div {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		img {
			padding: 1%;
		}
	}
	.join-us-today {
		margin: 20px auto;
	}
}
.questions {
	background-color: $background-color_5;
	color: $color_1;
	padding: 22px;
	display: flex;
}
.question-title {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 22px;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	gap: 10px;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}
.grid-item {
	background-color: $background-color_12;
	padding: 20px;
	text-align: center;
	background-color: $background-color_13;
	h2 {
		color: $color_3;
		padding: 10px;
	}
	p {
		color: $color_1;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.container-main{
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sct-about {
	padding-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	h1 {
		padding-bottom: 30px;
	}
	h2 {
		padding-bottom: 30px;
	}
}
.sct-rg {
	padding-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	h1 {
		padding-bottom: 30px;
	}
	h2 {
		padding-bottom: 30px;
	}
}
.container-articles {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.btn-download {
	border-radius: 15px;
	background-color: $background-color_14;
	padding: 10px;
	margin-top: 50px;
	font: bolder;
	&:active{
		background-color: whitesmoke;
	}
}
.blackcards {
	width: 100%;
	height: 500px;
}
.sct-games {
	padding-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	h2 {
		padding-bottom: 30px;
	}
}
.btn-container {
	width: 100%;
	margin: 0 auto;
}

.footer{
	background-color: black;
}

@media (min-width: 320px) and (max-width: 768px) {
	.menu {
		li {
			a {
				font-size: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 5px;
			}
		}
	}
	.cabecera {
		width: 100%;
	}
	.logo {
		width: 75px;
	}
	.accountbadge {
		width: 50px;
	}
	.body-container {
		width: 100%;
	}
	.cartas {
		width: 100px;
	}
	.monedas {
		width: 50px;
	}
	.join-us-today {
		font-size: 10px;
		margin-top: 10px;
	}
	.safe-support {
		display: none;
	}
	.steps-container {
		width: 80%;
		h1 {
			font-size: 12px;
		}
	}
	.steps-actions-container {
		h2 {
			font-size: 12px;
		}
		gap: 0;
		p {
			font-size: 12px;
		}
	}
	.image-containers {
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}
	.spins-container {
		display: flex;
		flex-direction: column;
		div {
			h2 {
				font-size: 15px;
				padding: 10px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	.dices {
		width: 120px;
	}
	.questions {
		flex-direction: column;
	}
	.bg-questions {
		h2 {
			color: $color_1;
		}
	}
	.question-title {
		font-size: 14px;
	}
	.paragraph {
		font-size: 12px;
	}
	.diamond-cards {
		width: 200px;
	}
	.grid-container {
		grid-template-columns: 1fr;
	}
	.section-home {
		display: flex;
		flex-direction: column;
		h2 {
			font-size: 35px;
		}
	}
	.sct-about {
		h1 {
			font-size: 14px;
		}
		h2 {
			font-size: 14px;
		}
		p {
			font-size: 13px;
		}
	}
	.btn-container {
		width: 60%;
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.menu {
		li {
			a {
				font-size: 8px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 5px;
			}
		}
	}
	.logo {
		width: 75px;
	}
	.accountbadge {
		width: 40px;
	}
	.dices {
		width: 150px;
	}
	.spins-container {
		div {
			h2 {
				font-size: 25px;
				padding: 10px;
			}
		}
	}
	.questions {
		flex-direction: column;
	}
	.paragraph {
		font-size: 16px;
	}
	.question-title {
		font-size: 18px;
	}
	.maquina-slot {
		width: 250px;
	}
	.queen-card {
		width: 250px;
	}
	.sct-about {
		h1 {
			font-size: 14px;
		}
		h2 {
			font-size: 14px;
		}
		p {
			font-size: 13px;
		}
	}
}
@media (min-width: 1024px) {
	.menu {
		li {
			a {
				font-size: 12px;
			}
		}
	}
	.logo {
		width: 100px;
	}
	.monedas {
		width: 200px;
	}
	.steps-container {
		width: 80%;
		h1 {
			font-size: 12px;
		}
	}
	.steps-actions-container {
		h2 {
			font-size: 12px;
		}
		gap: 0;
		p {
			font-size: 12px;
		}
	}
	.bg-questions {
		h2 {
			color: $color_1;
		}
	}
}