$color_1: black;
$color_2: whitesmoke;
$color_3: white;
$color_4: yellow;
$font-family_1: "Roboto", sans-serif;
$background-color_1: purple;
$background-color_2: gray;
$background-color_3: orange;
$background-color_4: violet;
$background-color_5: transparent;
$background-color_6: #04113f;
$background-color_7: yellow;
$background-color_8: blue;
$background-color_9: #f2f2f2;
$background-color_10: rgb(18, 18, 207);
$background-color_11: black;
$background-color_12: #9ac5f4;
$background-color_13: whitesmoke;
$background-color_14: white;
$background-color_15: grey;
$background-color_16: #999999;