header {
	display: block;
}

.menu {
	background: orange;
	padding: 5px 15px;
	text-align: center;
	li {
		list-style: none;
		padding: 5px;
		font: bold 14px verdana;
		display: inline-block;
		a {
			text-decoration: none;
			font-size: 20px;
			color: $color_1;
			margin: 0px 22px;
			&:hover {
				color: $color_2;
			}
		}
	}
}

section {
	display: block;
}
footer {
	display: block;
}
aside {
	display: block;
}
nav {
	display: block;
}
article {
	display: block;
}
hgroup {
	display: block;
}
body {
	text-align: center;
}
.cabecera {
	background: orange;
	border: 1px solid #999999;
	padding: 20px;
}